.works {
    &__content {
    }
    &__info {
        @include adap(padding-left, 30);
        @include adap(padding-right, 30);
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #32323279 50%, rgba(255, 255, 255, 0)), url("./img/bg-1.jpeg") 60% center/ cover;
        background-attachment: scroll, fixed;

        &-text {
            text-align: center;
            @include adap(margin-bottom, 100, 80, 62);
            color: var(--white);
            z-index: 2;
        }
        &-button {
            @include adap(width, 315);
            background-color: inherit;
            &::after,
            &::before {
                background-color: var(--white);
                color: var(--text-blue);
            }
            &::before {
                background-color: var(--gray);
            }   
        }
    }
    &__block {
        @extend .content;
        @include adap(padding-top, 160, 120, 80);
        @include adap(padding-bottom, 160, 120, 80);
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title {
            @include adap(margin-bottom, 100, 100, 77);
            align-self: flex-start;
        }
        &-wrap {
            width: 100%;
            @include adap(margin-bottom, 84, 84, 70);
            display: grid;
            grid-template-columns: repeat(4, auto);
            @include adap(column-gap, 40, 40, 30, 20);
            @include adap(row-gap, 40, 30);
        }
        &-img {
            @include adap(height, 300, 300, 220, 161);
            img {
                width: 100%;
                height: 100%;
            }
            @include adap(margin-bottom, 25, 20);
        }
        &-text {
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    .works {
        &__block {
            &-wrap {
                grid-template-columns: repeat(2, auto);
            }
            &-img {
                @include adap(height, 300, 300, 300, 161);
            }
        }
    }
}