.workshop {
    &__intro {
        @include adap(padding-left, 30);
        @include adap(padding-right, 30);
        @include adap(height, 700);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #32323279 50%, rgba(255, 255, 255, 0)), url("./img/bg-workshop.jpeg") 60% center/ cover;
        background-attachment: scroll, fixed;

        &-subtitle {
            color: var(--white);
            @include adap(margin-bottom, 0, 0, 0, 30);
        }
        &-title {
            @include adap(margin-bottom, 90, 75, 60);
            display: flex;
            flex-direction: column;
            align-items: center;
            color: var(--white);
            span {
                @include adap(margin-bottom, 25, 14, 3);
                line-height: 120%;
            }
        }
        &-button {
            @include adap(width, 300);
            background-color: inherit;
            &::after,
            &::before {
                background-color: var(--white);
                color: var(--color-text-bt);
            }
            &::before {
                background-color: var(--gray);
                color: var(--color-text-bt);
            }   
        }
    }
    &__wrap {
        @include adap(padding-top, 160, 130, 100);
        @include adap(padding-bottom, 180, 165, 150);
    }
    &__select {
        @extend .content;
        @include adap(margin-bottom, 160, 125, 90);
        &-title {
            @include adap(margin-bottom, 100, 80, 60);
        }
        &-grid {
            width: 100%;
            align-self: center;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto);
            @include adap(row-gap, 78, 60, 40);
            @include adap(column-gap, 18, 18, 0);
            .workshop__select-item:nth-last-child(4),
            .workshop__select-item:nth-last-child(3),
            .workshop__select-item:nth-last-child(2),
            .workshop__select-item:nth-last-child(1) {
                .workshop__select-item-text {
                    @include adap(width, 280);
                }
            }
        }
        &-item {
            width: max-content;
            &-title {
                @include adap(margin-bottom, 10);
                @include adap(font-size, 16);
                font-weight: 700;
                color: var(--text-p);
            }
            hr {
                @include adap(margin-bottom, 20);
                @include adap(width, 200);
                @include adap(height, 1);
                background-color: var(--border-assurance);
            }
            &-text {
                @include adap(width, 215);
            }
        }
    }
    &__portfolio {
        display: flex;
        flex-direction: column;
        @include adap(margin-bottom, 160, 125, 90);
        &-title {
            @extend .content;
            @include adap(margin-bottom, 100, 80, 60);
        }
        &-wrap {
            align-self: center;
            display: flex;
            flex-direction: column;
            @include adap(gap, 21);
        }
        &-main-img {
            align-self: center;
            @include adap(width, 820, 700, 550);
            img {
                width: 100%;
                height: auto;
                aspect-ratio: 2/2;
            }
        }

        &-block {
            align-self: center;
            @include adap(width, 920, 800, 650);
            @include adap(gap, 20);
            display: flex;
            align-items: center;
        }

        &-prev,
        &-next {
            @include adap(height, 30);
            @include adap(min-width, 30);
            border-radius: 50%;
            border: solid var(--black-line);
            @include adap(border-width, 1);
            background: url("./img/arrow.svg") center/ 100% 100% no-repeat;
            cursor: pointer;
        }
        &-next {
            transform: rotateZ(180deg);
        }

        .swiper {
            margin: 0;
            &-slide {
                aspect-ratio: 2/2;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
    &__stage {
        @extend .content;
        @include adap(margin-bottom, 160, 125, 90);
        &-title {
            @include adap(margin-bottom, 100, 80, 60);
        }
        &-grid {
            align-self: center;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto);
            border-left: solid var(--black-line);
            @include adap(border-left-width, 1);
            border-top: solid var(--black-line);
            @include adap(border-top-width, 1);

            .workshop__stage-item:nth-last-child(3),
            .workshop__stage-item:nth-last-child(2),
            .workshop__stage-item:nth-last-child(1) {
                .workshop__stage-text {
                    @include adap(width, 232);
                }
            }
        }
        &-item {
            @include adap(height, 140);
            @include adap(padding-left, 40, 30, 20);
            @include adap(padding-bottom, 30, 25, 20);
            display: flex;
            align-items: end;
            background-color: var(--bg-main);
            border-right: solid var(--black-line);
            @include adap(border-right-width, 1);
            border-bottom: solid var(--black-line);
            @include adap(border-bottom-width, 1);
            position: relative;
            &::after {
                content: attr(data-index);
                display: inline-block;
                @include adap(height, 72);
                @include adap(line-height, 72);
                width: max-content;
                position: absolute;
                @include adap(top, 10, 6, 3);
                @include adap(right, 40, 30, 20);
                @include adap(font-size, 48);
                font-family: "TS";
                color: var(--text-h);
            }
        }
        &-text {
            @include adap(width, 200);
        }
    }
    &__comment {
        @include adap(margin-bottom, 110, 85, 60);
        .swiper {
            @include adap(padding-left, 140, 30);
            @include adap(padding-right, 140, 30);
            &-slide {
                cursor: pointer;
                img {
                    @include adap(max-height, 400);
                    @include adap(max-width, 270);
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &-title {
            @include adap(margin-bottom, 100, 80, 60);
            @extend .content;
        }
    }
    & .feedback {
        @extend .content;
    }
}

@media (max-width: 1024px) {
    .workshop {
        &__comment {
            .swiper {
                overflow: hidden !important;
            }
        }
        &__select {
            display: flex;
            flex-direction: column;
            &-grid {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, auto);
            }
            &-item {
                @include adap(width, 300);
            }
        }
        &__stage {
            display: flex;
            flex-direction: column;
            &-grid {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, auto);
            }
            &-item {
                @include adap(width, 365);
            }
        }
    }
}

@media (max-width: 768px) {
    .workshop {
        &__select {
            &-grid {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: auto;
                justify-items: center;
            }
        }
        &__stage {
            &-grid {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: auto;
            }
        }
        &__portfolio {
            &-wrap {
                width: 100%;
            }
            &-block {
                width: 100%;
            }
            .swiper {
                @include adap(padding-right, 140, 30);
                @include adap(padding-left, 140, 30);
            }
            &-main-img,
            &-prev,
            &-next {
                display: none;
            }
        }
    }
}

@media (max-width: 425px) {
    .workshop {
        &__intro {
            align-items: start;
            &-title {
                align-items: start;
            }
        }
        &__select {
            &-title {
                @include adap(max-width, 250);
            }
            &-grid {
                width: 100%;
            }
            &-item {
                width: 100% !important;
            }
        }
        &__stage {
            &-grid {
                width: 100%;
            }
            &-item {
                width: 100% !important;
            }
        }
    }
}