.footer {
    background-color: var(--bg-footer);
    & * {
        color: var(--text-footer) !important;
    }
    &__content {
        @extend .content;
        @include adap(padding-top, 84, 60, 40);
        @include adap(padding-bottom, 232, 155);
        max-width: 1440px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, auto);
        &-center {
            display: flex;
            justify-content: space-between;
        }
    }
    &__inn {
        display: flex;
        flex-direction: column;
    }
    &__links {
        display: flex;
        flex-direction: column;
        @include adap(gap, 10);
    }
    &__link {
        color: var(--text-footer);
        width: max-content;
        border-bottom: solid transparent;
        position: relative;
        width: max-content;
        &::before,
        &::after {
            content: "";
            display: inline-block;
            @include adap(height, 15);
            @include adap(width, 15);
            position: absolute;
            opacity: 0;
            transition: all linear 0.2s;
        }
        &::before {
            top: 0px;
            left: 0;
            border-top: solid var(--text-footer);
            @include adap(border-width, 2);
        }
        &::after {
            bottom: 0;
            right: 0;
            border-bottom: solid var(--text-footer);
            @include adap(border-width, 2);
        }
        &:hover {
            &::before,
            &::after {
                opacity: 1;
            }
        }

        &:active {
            &::before,
            &::after {
                height: 100%;
                width: 100%;
            }
        }
    }
    &__socials {
        display: flex;
        @include adap(gap, 18);
        justify-self: end;
        &-item {
            @include adap(height, 52);
            @include adap(width, 52);
            position: relative;
            cursor: pointer;
            overflow: hidden;
            background-color: transparent;
            z-index: 1;
            border-radius: 100%;
            transition: transform ease-in-out 0.3s;
            img {
                width: 100%;
                height: auto;
            }

            &:hover {
                transform: scale(1.2);
            }

            &::before{
                content: "";
                display: inline-block;
                height: 0;
                bottom: 0;
                @include adap(width, 52);
                position: absolute;
                transition: all ease-in 0.3s;
                z-index: -1;
                opacity: 0.8;
            }
        }

        &-item:nth-child(1):hover  {
            &::before{
                @include adap(height, 52);
                background-color: var(--icon-tg);
            }
        }
        &-item:nth-child(2):hover  {
            &::before{
                @include adap(height, 52);
                background-color: var(--icon-inst);
            }
        }
        &-item:nth-child(3):hover  {
            &::before{
                @include adap(height, 52);
                background-color: var(--icon-whatsapp);
            }
        }
    }
}

@media (max-width: 1024px) {
    .footer {
        &__content {
            grid-template-columns: repeat(2, auto);

            &-center {
                flex-direction: column;
                justify-content: flex-start;
                grid-row-start: 1;
                grid-row-end: 3;
                grid-column-start: 2;            
                @include adap(gap, 10);
            }
        }
        &__socials {
            justify-self: start;
            align-self: end;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &__content {
            grid-template-columns: repeat(1, 100%);
            &-center {
                flex-direction: column;
                grid-row-start: 2;
                grid-column-start: 1;
                & .footer__links:nth-child(2),
                & .footer__links:nth-child(3)  {
                    @include adap(margin-bottom, 50);
                }
            }
        }
        &__socials {
            grid-area: 1;
            justify-self: center;
            @include adap(margin-bottom, 70);
        }
        &__inn {
            grid-area: 3;
            text-align: center;
        }
        &__links {
            align-items: center;
        }
    }
}

@media (max-width: 425px) {
    .footer {
        &__content {
            justify-items: start;
        }
        &__socials {
            justify-self: start;
        }
        &__inn {
            text-align: left;
        }
        &__links {
            align-items: flex-start;
        }
    }
}