.assurance {
    &__content {
        @extend .content;
        @include adap(padding-bottom, 200, 150, 90);
        @include adap(padding-top, 200, 150, 90);
    }
    &__wrap-info {
        @include adap(padding-top, 92, 92, 60, 30);
        @include adap(padding-right, 100, 100, 60, 15);
        @include adap(padding-left, 100, 100, 60, 15);
        @include adap(padding-bottom, 180, 140, 100, 80);
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid var(--border-assurance);
        @include adap(border-width, 1);
        outline: solid var(--outline-assurance);
        @include adap(outline-width, 7);
        outline-offset: 5px;
        position: relative;
    }
    &__title {
        @include adap(font-size, 48, 40, 30);
        @include adap(margin-bottom, 40, 40, 30);
        @include adap(max-width, 650);
        text-align: center;
    }
    &__text {
        @include adap(font-size, 24, 20, 16);
    }
    &__logo {
        position: absolute;
        @include adap(right, 62, 40, 15);
        @include adap(bottom, 38, 20, 10);
        opacity: 0.5;
        @include adap(width, 150, 120, 100, 80);
        img {
            height: 100%;
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .assurance {
        &__title {
            text-align: left;
        }
    }
}