@import "../../public/font/fonts";
@import "./mixins/null-style";
@import "./mixins/adaptive";
@import "../content/import_scss";

:root {
    --text-p: #323232;
    --text-h: #57463A;
    --bg-main: #F3EFEA;
    --bg-footer: #715B4B;
    --text-footer: #F6F6F6;
    --menu-burger: #57463A;
}

#root {
    overflow: hidden;
    height: 100%;
    min-width: 375px;
}

body {
    background-color: var(--bg-main);
}

.header__content,
.footer__content {
    @include adap(padding-right, 140, 30);
    @include adap(padding-left, 140, 30);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "TS";
    @include adap(font-size, 48);
}

p, a {
    @include adap(font-size, 16);
    font-family: "OS";
    line-height: 150%;
}