@import "../../public/font/fonts";
@import "./mixins/null-style";
@import "./mixins/adaptive";
@import "../components/components";
@import "../content/import_scss";

:root {
    --text-p: #323232;
    --text-h: #57463A;
    --bg-main: #F3EFEA;
    --bg-footer: #715B4B;
    --text-footer: #F6F6F6;
    --menu-burger: #57463A;
    --icon-tg: rgb(0, 174, 255);
    --icon-inst: rgb(238, 209, 131);
    --icon-whatsapp: rgb(101, 230, 101);
    --button-text: #F6F6F6;
    --button-bg: #A1B29F;
    --button-bg-hover: #687466;
    --black-line: black;
    --bg-family: #EBEEEB;
    --bg-services-item1: #E3DACE;
    --bg-services-item2: #D4CDC3;
    --border-assurance: #715B4B;
    --outline-assurance: #A1B29F;
    --white: #F6F6F6;
    --gray: #bbbaba;
    --text-blue: #4C6D77;
    --color-li: #A1B29F;
    --color-line: #C4C4C4;
    --color-text-bt: #715B4B;
}

img {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

#root {
    height: 100%;
    margin: 0 auto;
    min-width: 375px;
}

html {
    scrollbar-gutter: stable;
}

body {
    background-color: var(--bg-main);
}

.content {
    @include adap(padding-right, 140, 30);
    @include adap(padding-left, 140, 30);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-h);
    font-family: "TS";
    line-height: 150%;
    @include adap(font-size, 48, 40, 32);
}

p, a, li {
    color: var(--text-p);
    @include adap(font-size, 16);
    font-family: "OS";
    line-height: 150%;
}

@keyframes move {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(5%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0%);
    }
}

.feedback {
    display: flex;
    flex-direction: column;
    &__title {
        @include adap(margin-bottom, 100, 80, 60);
    }
    &__button {
        align-self: center;
        &::after,
        &::before {
            color: var(--white);
        }
        
    }
}

.scroll-lock {
    overflow: hidden;
}

.opacity-effect,
section {
    transition: opacity 0.3s linear;
}

.section-obs {
    opacity: 0;
}


