.types {
    &__content {
        @include adap(padding-bottom, 160, 140);
        @include adap(padding-top, 160, 125, 90);
        @extend .content;
        max-width: 1440px;
        margin: 0 auto;
    }
    &__title {
        @include adap(margin-bottom, 100, 100, 70);
    }
    &__list {
        @include adap(margin-bottom, 160, 130, 100);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @include adap(row-gap, 70, 55, 40);
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        &-img {
            @include adap(margin-bottom, 20);
            @include adap(max-width, 200, 200, 200, 150);
            img {
                width: 100%;
                height: auto;
            }
            &:hover {
                animation: move linear 0.2s;
            }
        }
        &-text {
            @include adap(font-size, 18);
            font-weight: 700;
        }
    } 
    &__block {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        @include adap(gap, 40, 40, 32);
        &-img {
            @include adap(margin-bottom, 20);
            aspect-ratio: 2/2;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-text {
            @include adap(font-size, 18);
            font-weight: bold;
            text-align: center;
        }
    }
}


@media (max-width: 768px) {
    .types {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
        &__block {
            grid-template-columns: repeat(1, 1fr);
            
            &-wrap {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}