.swiper {
    @include adap(margin-left, -140, -30);
    @include adap(margin-right, -140, -30);
    &-slide {
        display: flex !important;
        justify-content: center;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}