.family {
    &__content {
        max-width: 1440px;
        margin: 0 auto;
        @include adap(margin-bottom, 200, 150, 100);
    }
    &__title {
        @extend .content;
        @include adap(margin-bottom, 100, 80, 60);
    }
    &__block {
        @include adap(margin-bottom, 160, 120, 60);
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 100%;
        background-color: var(--bg-family);
    }
    &__img {
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 70% center;
        }
    }
    &__info {
        @include adap(padding-right, 40, 40, 30);
        @include adap(padding-left, 40, 40, 30);
        @include adap(padding-top, 68, 68, 60);
        @include adap(padding-bottom, 50, 40, 30);
        .family__text:nth-child(3) {
            @include adap(margin-bottom, 52, 41, 30);
        }
    }
    &__author {
        @include adap(margin-bottom, 40, 30, 20);
        @include adap(max-width, 400);
        @include adap(font-size, 24);
        font-family: "TS";
        color: black;
    }
    &__text {
        @include adap(max-width, 515);
        @include adap(font-size, 18);
        @include adap(margin-bottom, 30);
        color: black;
    }
    &__button {
        background-color: var(--bg-family);
        &::after,
        &::before {
            color: var(--white);
        }
    }
    &__video-wrap {
        @extend .content;
    }
    &__video {
        width: 100%;
        height: 100%;
        background-color: #C4C4C4;
        &::-webkit-media-controls-current-time-display {
            @include adap(font-size, 12);
        }
    
    }
}


@media (max-width: 768px) {
    .family {
        &__block {
            grid-template-columns: repeat(1, 100%);
            grid-template-rows: auto;
        }
        &__img {
            @include adap(height, 500, 500, 450, 250);
        }
        &__video-wrap {
            padding: 0 !important;
        }
        &__video {
            @include adap(min-height, 230);
        }
        &__content {
            .family__title:nth-child(3) {
                @include adap(width, 500, 500, 500, 300);
            }
        }
        &__text {
            @include adap(max-width, 768);
        }
    }
}

