.techniques {
    &__content {
        background-color: var(--bg-main);
    }
    &__info {
        @extend .content;
        @include adap(margin-bottom, 160, 130, 100);
    }
    &__title {
        @include adap(margin-bottom, 100, 100, 70);
    }
    &__list {
        @include adap(margin-left, 350, 350, 100, 0);
        display: flex;
        flex-direction: column;
        @include adap(gap, 54);
        position: relative;

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            @include adap(left, 30);
            @include adap(width, 3);
            @include adap(height, 710);
            background-color: var(--color-line);
        }
    }
    &__item {
        display: flex;
        align-items: center;
        @include adap(font-size, 18);
        position: relative;
        &::before{
            content: attr(data-index);
            display: inline-block;
            @include adap(margin-right, 43, 36, 24);
            @include adap(height, 60);
            @include adap(min-width, 60);
            @include adap(font-size, 24);
            @include adap(line-height, 60);
            border-radius: 100%;
            font-weight: 700;
            text-align: center;
            background-color: var(--color-li);
            color: var(--white);
        }
    }
    &__block {
        @include adap(padding-left, 245, 135, 30);
        @include adap(padding-right, 245, 135, 30);
        @include adap(height, 700);
        background: url("./img/bg-2.jpeg") center/ cover;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text {
        color: var(--white);
        text-align: center;
    }
}

@media (max-width: 768px) {
    .techniques {
        &__block {
            background-attachment: scroll;
        }
    }
}

@media (max-width: 545px) {
    .techniques {
        &__title {
            @include adap(width, 300);
        }
        &__list {
            margin-left: 0;
        }
    }
}