.intro {
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        border-bottom: solid var(--black-line);
        border-top: solid var(--black-line);
        @include adap(border-width, 1);
    }
    &__main-img {
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__info {
        @include adap(padding-right, 123, 80, 20);
        @include adap(padding-left, 40, 40, 30);
        @include adap(padding-top, 200, 150, 40);
        @include adap(padding-bottom, 100, 70, 40);
    }
    &__label {
        @include adap(margin-bottom, 17, 40, 76);
    }
    &__title {
        @include adap(font-size, 48, 40, 31);
        @include adap(margin-bottom, 40);
    }
    &__subtitle {
        @include adap(margin-bottom, 70, 45, 20);
    }
    &__button {
        @include adap(margin-bottom, 94, 82, 70);
    }
    &__socials {
        display: flex;
        justify-content: end;
        @include adap(gap, 30);
        &-item {
            @include adap(height, 52, 40);
            @include adap(width, 52, 40);
            position: relative;
            cursor: pointer;
            overflow: hidden;
            background-color: transparent;
            z-index: 1;
            border-radius: 100%;
            transition: transform ease-in-out 0.3s;
            img {
                width: 100%;
                height: auto;
            }

            &:hover {
                transform: scale(1.2);
            }

            &::before{
                content: "";
                display: inline-block;
                height: 0;
                bottom: 0;
                @include adap(width, 52);
                position: absolute;
                transition: all ease-in 0.3s;
                z-index: -1;
                opacity: 0.8;
            }
        }
        &-item:nth-child(1):hover  {
            &::before{
                @include adap(height, 52);
                background-color: var(--icon-tg);
            }
        }
        &-item:nth-child(2):hover  {
            &::before{
                @include adap(height, 52);
                background-color: var(--icon-inst);
            }
        }
        &-item:nth-child(3):hover  {
            &::before{
                @include adap(height, 52);
                background-color: var(--icon-whatsapp);
            }
        }
    }
}

@media (max-width: 1024px) {
    .intro {
        &__content {
            grid-template-columns: 1fr;
        }
        &__main-img {
            @include adap(height, 500, 500, 500, 415);
            grid-area: 2;
            img {
                object-position: center 65%;
                object-fit: cover;
            }
        }
        &__socials {
            justify-content: start;
        }
    }
}

@media (max-width: 425px) {
    .intro {
        &__label {
            @include adap(width, 200);
        }
    }
}